:root { /* Color palette for css */
    --hope: #1E4C9E; /* Blue Lantern */
    --mauve: #AD7A99;
    --columbia: #B2CEDE;
    --middlebg: #8CDFD6;
    --middleb: #6DC0D5;
    --dark-gray: #3c3c3c;
}

body {
    background-color: var(--columbia);
    color: var(--dark-gray);
}



.menu_item {
    width: 100%;
    background-color: white;
    text-align: center;
    border: 1px #3c3c3c solid;
    padding: 10px 0px;
    font-size: 11px;
    margin-right: -34px;
}

.menu_item span {
    font-size: 22px;
    padding-bottom: 7px;
}

.menu_item:nth-child(2), .menu_item:nth-child(3), .menu_item:nth-child(4) {
    border-top: 0px;
}
