:root { /* Color palette for css */
    --hope: #1E4C9E; /* Blue Lantern */
    --mauve: #AD7A99;
    --columbia: #B2CEDE;
    --middlebg: #8CDFD6;
    --middleb: #6DC0D5;
    --dark-gray: #3c3c3c;
}

body {
    background-color: var(--columbia);
    color: var(--dark-gray);
}

/* Links */
a {
    color: var(--hope);
}

a:hover {
    text-decoration: none;
    color: var(--columbia);
}
/* Menu */
.menu {
    list-style: none;
}

.menu_item {
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 11px;
    margin-right: -34px;
}

.menu_item a {
    display: block;
    padding: 15px 0;
}

.menu_item span {
    font-size: 22px;
    padding-bottom: 7px;
}

.ui-tabs-active {
    background-color: var(--hope);
}

.ui-tabs-active a:hover{
    color: var(--columbia);
}

.ui-tabs-active.border-btm {
  border-bottom: 1px solid var(--hope);
}

.ui-tabs-active a {
    color:white;
}

/* Header Icons */
.link span {
    min-width: 21px;
    text-align: center;
}

/* Badge Color */
.badge-hope {
    background-color: var(--hope);
}

.card-body a {
    position: absolute;
    top: 0;
    margin-bottom: 15px;
    color: white;
}

.card-body a:hover {
  color: var(--columbia);
}

.border-btm{
  border-bottom: 1px solid var(--columbia);
}

.border-columbia {
  border-color: var(--columbia);
}

.photo {
  border: 0px;
}

/* Experience Titles */
.xp-title div {
    float: left;
}

.xp-title div:first-child {
  font-size: 44px;
  margin-right: 20px;
}
