@charset "utf-8";
/* CSS Document */

#characterSheet {
    background-image: url(../images/character-sheet.jpg);
    width: 1000px;
    height: 1298px;
    background-size: cover;
}

.results div {
    height: 8px;
    width: 20px;
    float: left;
    border: 1px black solid;
}

.greenDie {
    background-color: green;
}

.yellowDie {
    background-color: yellow;
}

#characteristicStat {
    position: absolute;
    top: 332px;
    left: 138px;
}

#characteristicStat div {
    height: 68px;
    width: 68px;
    text-align: center;
    font-size: 42px;
    margin-left: 69px;
    float: left;
}

#characteristicStat input {
    height: 68px;
    width: 68px;
    border-radius: 55px;
    border: red 2px solid;
    text-align: center;
    font-size: 42px;
    display: block;
}

#characteristicStat div:first-child {
    margin-left:0px;
}

div#characterSkills {
    position: absolute;
    top: 481px;
    left: 117px;
	width: 811px;
}

#characterSkills input {
    margin-left: 136px;
    width: 95px;
    height: 12px;
    /* margin-top: 4px; */
    float: left;
}

#characterSkills > div > div {
    height: 19px;
    padding-top: 4px;
}

.results {
    float: left;
    width: 121px;
    height: 20px;
    margin-left: 35px;
    padding-top: 3px;
}

#characterSkills > div {
    float: left;
}

div#generalSkills {
    margin-right: 29px;
}

div#knowledgeSkills {
    margin-top: 44px;
}

div#characterBasics {
    position: absolute;
    top: 48px;
    left: 118px;
    width: 612px;
    height: 123px;
}

div#characterName input {
    margin-left: 162px;
    width: 400px;
    height: 25px;
    font-size: 20px;
}

#characterRace select {
    margin: 5px 71px;
}

div#characterAttribute {
    /* height: 42px; */
    width: 812px;
    position: absolute;
    top: 213px;
    left: 134px;
}

#characterAttribute div {
    width: 83px;
    height: 51px;
    float: left;
    margin-right: 118px;
    font-size: 41px;
    text-align: center;
    line-height: 45px;
}

#characterAttribute div:first-child {
    width: 165px;
    margin-right: 34px;
}

div#meleeDefense, div#rangedDefense {
    margin-right: 0px;
}

div#xpBlocks {
    position: absolute;
    top: 1224px;
    left: 122px;
    width: 790px;
}

#xpBlocks div {
    width:130px;
    height:44px;
    font-size: 39px;
    text-align: center;
}

div#totalXp {
    float: left;
}

div#availableXp {
    float: right;
}

#characterCareer select {
    margin: 6px 71px;
}

#characterSpecialty select {
    margin: 7px 113px;
}