@charset "utf-8";

body {
    background-color: #badae5;
}

div#sortingContainer {
    width: 800px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    background: white url(http://i.imgur.com/YZbJvnL.png) no-repeat;
    background-size: 119%;
    border: 1px solid #4e4d4e;
	margin-top: 65px;
}

div#header {
    height: 135px;
    font-size: 73px;
    padding-top: 38px;
    margin-bottom: 65px;
}

div#listInput {
    text-align: right;
    padding: 29px;
}

textarea#gameList {
    min-height: 189px;
    width: 735px;
    resize: vertical;
	overflow-x:hidden;;
}

.sectionHeader {
    font-size: 20px;
    /* margin-top: 20px; */
    width: 100%;
    text-align: center;
}

#listSorting button {
    padding: 10px 20px;
    margin: 11px;
    font-size: 15px;
}

div#listSorting {
    margin-bottom: 25px;
}

div#listResults {
    text-align: left;
    padding: 0px 80px;
    margin-bottom: 26px;
}

.row1 {
    background-color: lightgray;
}

#listResults div {
     padding: 3px 6px;
}